*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Tamanhos do padding e border inclusos nas propriedades de largura e altura. */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p, label {
    font-family: 'Poppins', sans-serif;
}

@keyframes fadeOut {
    to {
        opacity: 0;   /* Opacidade do preloader fica igual a zero. */
    }
}

@keyframes fadeFromLeft {
    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes slideTopIn {
    to {
        top: 15%;
        opacity: 1;
    }
}

@keyframes scaleRight {
    to {
        transform: scaleX(1);
    }
}

@keyframes scaleUp {
    to {
        transform: scale(1);
    }
}

@keyframes lineDown {
    0% {
        transform: scale(1, 0); /* Escala máxima (proporção existente) [sx, sy]. */
        transform-origin: top center;  /* Primeiro valor eixo Y e segundo valor eixo X (é o inverso). */
    } 

    25% {
        transform: scale(1, 1);
        transform-origin: top center; 
    }

    75% {
        transform: scale(1, 1);
        transform-origin: top center; 
    }

    76% {
        transform: scale(1, 1);
        transform-origin: bottom center;
    }

    100% {
        transform: scale(1, 0);
        transform-origin: bottom center;
    }
}

@keyframes arrowDown {
    0% {
        bottom: 10px;
    }

    30% {
        bottom: 5px;
        opacity: 1;
    }

    70% {
        bottom: 2px;
        opacity: 1;
    }

    100% {
        bottom: 1px;
        opacity: 0;
    }
}

@keyframes skeletonBlur {
    to {
        background-position: 250% -150px;
    }
}

@keyframes topBarBackground {
    
    from {
        background: transparent;
    }
    
    to {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0+100;Neutral+Density */
    background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    }
}

@keyframes logoShorten{
    
    from {
        top: 0;
    }
    
    to {
        top: -40px;
    }
}
    @keyframes logoBigger{
    
    from {
         top: -40px;
    }
        
    to {
        top: 0;
    }
}

.ift-trigger-top-bar {
    width: 1px;
    height: 1px;
    display: block;
    position: absolute; /* Se for fixo, ele vai acompanhar a rolagem da página, não sendo tocado nunca. */
    left: 0;
    top: 180px;
}

.ift-border-top-left, .ift-border-bottom-right {
    width: 30px;
    height: 30px;
    display: block;
    position: fixed;
    z-index: 800;
}

.ift-border-top-left {
    top: 0;
    left: 0;
}

.ift-border-bottom-right {
    bottom: 0;
    right: 0;
}

.ift-border-top-left::before, .ift-border-top-left::after {
    content: '';
    display: block;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
}

.ift-border-top-left::before {
    width: 30px;    /* Em porcentagem ocupa 100% da div pai. vh pega 100% da window. */
    height: 100vh;  
}

.ift-border-top-left::after {
    width: 100vw;    /* Em porcentagem ocupa 100% da div pai. vh pega 100% da window. */
    height: 30px;  
}

.ift-border-bottom-right::before, .ift-border-bottom-right::after {
    content: '';
    display: block;
    background-color: #000;
    position: fixed;
    bottom: 0;
    right: 0;
}

.ift-border-bottom-right::before {
    width: 30px;    /* Em porcentagem ocupa 100% da div pai. vh pega 100% da window. */
    height: 100vh;  
}

.ift-border-bottom-right::after {
    width: 100vw;    /* Em porcentagem ocupa 100% da div pai. vh pega 100% da window. */
    height: 30px;  
}


@media screen and (min-width: 320px){
    
    .ift-page-wrapper, .ift-preloader {
        width: 100%;
        height: 100vh;  
        display: table;
        background-color: #1C1C1C;
        border: 30px solid #000;
    }

    .ift-preloader {
        display: flex;  /* cria uma área de conteiner flex. */
        flex-direction: column;  /* Itens ficam em linha. Se fosse column, seria na vertical que os itens se orientariam. */
        flex-wrap: wrap; /* Gera a quebra automática das linhas dentro do conteiner. Cada linha é um novo conteiner. */
        justify-content: center;
        align-items: center;
        z-index: 1000;
        position: fixed; /* Se fosse relative, ficaria em uma página acima, não sobrepondo todo o conteúdo. */
        top: 0;
        left: 0;
    }

    .ift-preloader img {
        width: 250px;
        height: 250px;
    }

    .ift-overlay, .ift-menu-overlay {
        width: 100%;
        height: 100vh;
        display: none;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        background-color: rgba(251, 133, 0, 0.95);
    }

    .ift-modal {
        width: 90%;
        padding: 30px;
        display: none; /* Alinhamento usando margin: 0 auto; */
        border-radius: 0 30px 30px 30px;
        position: absolute;
        top: -100%;
        left: 5%;
        right: 5%;
        margin: 0 auto;
        z-index: 1200;
        opacity: 0;
    }

    .ift-modal-header, .ift-modal-body .ift-form {
        width: 100%;
        display: table;
        position: relative;
    }

    .ift-close-modal {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        color: #FB8500;
        background-color: #2f2f2f;
        border: none;
        text-align: center;
        line-height: center;
        cursor: pointer;
        position: absolute;
        top: 1px;
        right: 1px;
        transition: all 0.1s ease-out;
    }

    .ift-close-modal:hover {
        transform: scale(1.2);
    }

    .ift-form label {
        margin-bottom: 5px;
        font-size: 14px;
        display: inline-block;
    }

    .ift-field, .ift-textarea {
        width: 100%;
        background-color: #2f2f2f;
        border-radius: 4px;
        color: #fff;
        border: none;
        font-size: 16px;
        padding-left: 15px;  /* Também poderia usar um text-indent (funciona como um avanço aplicado à primeira linha do parágrafo). */
        margin-bottom: 7px;
    }

    .ift-field {
        height: 45px;
    }

    .ift-textarea {
        padding-top: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
    }

    .ift-top-bar {
        width: 100%;
        height: 130px;
        display: block;
        background: transparent;
        position: fixed;  /* Posição fixa no topo. */
        top: 0;
        left: 0;
        z-index: 900;
        transition: all 0.2s ease-out;
    }

    .ift-top-bar-background {
        animation: topBarBackground 0.2s ease-out forwards;
    }

    .ift-logo {
        width: 75px;
        height: 130px;
        float: left;
        margin-left: 60px;
        background-color: #FB8500;
        border-radius: 0 0 37px 37px; /* Quatro valores no sentido horário para cada canto da área da logo. */
        transition: all 0.2s ease-out;
        position: relative; /* Para usar o top negativo na animação da logo (encolher). */
    }

    .ift-logo-shorten {
        animation: logoShorten 0.2s ease-out forwards;
    }

    .ift-logo-bigger {
        animation: logoBigger 0.2s ease-out forwards;
    }

    .ift-logo img {
        width: 70px;
        height: 50px;
        display: block;
        margin: 55px 0 0 0;
    }

    .ift-menu {
        display: none;
        position: relative;
    }

    .ift-btn-menu-mob {
        width: 54px;
        height: 54px;
        display: block;
        border-radius: 50%;
        border: none;
        background-color: #FB8500;
        color: #000;
        position: fixed;
        right: 30px;
        top: 30px;
        z-index: 1450;
        cursor: pointer;
    }

    .ift-btn-menu-mob ion-icon {
        vertical-align: middle;
    }
    .ift-menu-mob {
        width: 240px;
        height: 100vh;
        display: block;
        background-color: #000;
        position: fixed; /* Fica fixo independente da rolagem da página. */
        top: 0;
        z-index: 1400;
        padding: 100px 30px 30px;
        transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    }

    .ift-menu-is-open {
        right: 0;
    }

    .ift-menu-is-closed {
        right: -240px;   /* Fica fora da tela. */
    }

    .ift-menu-mob a {
        width: 100%;
        height: 60px;
        display: block;
        line-height: 60px; /* Line-height da mesma altura que o height = centralização na vertical. */
        color: #fff;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
    }

    .ift-btn-contact {
        width: 45px;
        height: 45px;
        display: block;
        background-color: #FB8500;
        background-image: url('../imagens/contatos/icon-contact-close.svg');  /* Por padrão, toda imagem de background se repete no eixo x e y. Para isso, declaro um background-repeat. */
        background-repeat: no-repeat;
        position: fixed;
        bottom: 45px;
        right: 45px;
        border-radius: 50%;  /* Todos os lados com arredondamento máximo. */
        z-index: 200;  /* Só funciona em elementos posicionados. Determina a ordem de empilhamento. */
        transition: all 0.2s ease-out;
        border: none; /* Remove a bordar adicionada pela tag 'button' no HTML. */
        cursor: pointer;  /* Aparece uma 'mão' indicando que o elemento é clicável quando o mouse está sobre. */
    }

    .ift-btn-contact:hover {
        transform: scale(1.05);
    }

    .ift-contact-info {
        width: 245px;
        height: 165px;
        /* Background color foi passado como classe no HTML (ift-background-black). */
        padding: 25px;
        position: fixed;
        bottom: 115px;
        right: 65px;
        z-index: 200;
        display: none;  /* O display só se tornará visível após o click (acionará o display: block). */
    }

    .ift-contact-info-inner {
        display: table;
        width: 100%;
        float: right;
    }

    .ift-contact-info-inner p {
    text-decoration: none;
    color: inherit;
    }

    .ift-social-links, .ift-social-links-circle {
        width: 100%;
        height: 45px;
        display: block;
        position: relative;
        left: -11px;
    }

    .ift-social-links-circle {
        left: 0;
    }

    .ift-social, .ift-social-links-circle .ift-social  {  /* Área ocupada por cada ícone de rede social dentro do inline-block. */
        width: 45px;
        height: 45px;
        display: inline-block; /* Lado a lado. Caso fosse block, seria necessário um float left. */
    }

    .ift-social-links-circle .ift-social {
        border-radius: 50%;
        text-align: center;
        transition: all 0.2s ease-out;
    }

    .ift-social-links-circle .ift-social ion-icon { /* Ícones de redes sociais na página sobre. */
        height: 45px;
        transition: all 0.2s ease-out;
    }

    .ift-social-links-circle .ift-social:hover {
        background-color: #000;
    }

    .ift-social-links-circle .ift-social:hover ion-icon {
        color: #FB8500;
    }

    .ift-social > img {  /* Afetando apenas a primeira imagem dentro do bloco. */
        width: 20px;
        height: auto;
        display: block;
        margin: 12px auto 0;
    }

    .ift-social-linked-in {
        display: block;
        margin: -43px 0 0 110px;
    }

    .ift-social-linked-in ion-icon {
        height: 22px;
        margin-top: 5px;
        margin-left: -7px;
    }

    .ift-corner {
        width: 24px;
        height: 25px;
        display: block;
        float: right;
    }

    .ift-corner::after {
        content: '';
        width: 24px;
        height: 25px;
        display: block;
        position: absolute;
        bottom: -23px;
        right: 0px;
        background: transparent url('../imagens/contatos/corner.svg') no-repeat;
    }

    .ift-twitter {
        padding-top: 2px;
    }

    /* --------HOME--------*/

    .ift-display-text {
        margin-top: 20%;
    }

    .ift-home-presentation {
        background-image: url('../../LAYOUT/igor-foto-photoshop-tiny.png');
        background-repeat: no-repeat;
        background-position-x: 51%;
        background-position-y: 73%;
        background-size: 50%;
        position: inherit; /* A div pai precisa ter uma posição relative para que '.ift-scroll-down' receba margin. */
    }

    .ift-home-presentation h1 {
        margin-top: 60px;
        text-align: center;
    }

    .ift-home-presentation p {
        text-align: center;
    }

    .ift-home-presentation .ift-btn {
        margin-left: auto;
        margin-right: auto;
    }

    .ift-scroll-down {
        width: 70px;
        height: 150px;
        border-radius: 35px 35px 0 0;
        background-color: #FB8500;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0; /* DICA para centralizar usando left e right. */
        margin: 0 auto;
        z-index: 100;
    }

    .ift-arrow-down {
        width: 100%;
        height: 75px;
        display: table;
        margin-top: 30px;
        position: relative;
    }

    .ift-arrow-down img {
        width: 16px;
        height: 25px;
        display: block;  /* Já que tem uma altura e uma largura. */
        position: absolute; /* Alinha-se absolutamente ao arrow-down, que é a classe pai. */
        bottom: 10px;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: 0;
        animation: arrowDown 1.2s linear 1s infinite;
    }

    .ift-arrow-down::before {
        content: '';
        width: 2px;
        height: 55px;
        display: block;  
        position: absolute; 
        bottom: 20px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: #000;
        animation: lineDown 1.2s ease-out 1s infinite;
        transform-origin: top center;
    }

    /* --------HOME - PORTFÓLIO--------*/

    .ift-portfolio-navigator {
        width: 74%;
        height: auto;
        display: table;  /* Altura dinâmica: assume a altura dos elementos que estiverem dentro. */
        position: absolute;
        left: 0;
        bottom: 15px;
        z-index: 100;
    }

    .ift-navigator-counter {
        width: 100%;
        height: 90px;
        display: block;
        margin-bottom: 60px;
        margin-left: 3px;
        position: relative;
    }

    .ift-navigator-counter::before {
        content: '';
        display: block;
        width: 30px;
        height: 100%;
        background-color: #1C1C1C;
        position: absolute;
        top: -1px;
    }

    .ift-navigator-counter span {
        font-family: 'Poppins', sans-serif;
        font-size: 120px;
        line-height: 90px;
        font-weight: 600;
    }

    .ift-item-navigator {
        width: 100%;
        display: table; /* Altura dinâmica. */

    }

    .ift-item-navigator a {
        width: 20px;
        height: 1px;
        display: block;
        margin-bottom: 80px;
        margin-left: 35px;
        background-color: #4D4C4C;
    }

    .ift-item-navigator a.ift-item-active {
        background-color: #FB8500;
    }

    .ift-item-navigator a:last-child {
        margin-bottom: 30px;
    }

    .ift-items-next-prev {
        width: 101%;
        height: 45px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #2c2c2c;
        border-radius: 23px;
    }

    .ift-items-next-prev > div {
        height: 32px;
    }

    .ift-items-counter {
        font-family: 'Poppins', sans-serif;
        color: #4D4C4C;
        line-height: 32px;
    }

    .ift-item-prev, .ift-item-next {
        width: 45px;
        color: #FB8500;
        text-align: center;
        cursor: pointer;
    }

    .ift-items-counter span:nth-child(1) { /* nth-child() seleciona elementos com base em suas posições em um grupo de elementos irmãos. */
        color: #bcbcbc;
    }

    ion-icon {
        font-size: 32px;

    }

    .ift-slider-container {
        display: block;
        overflow: hidden; /* Conteúdo é cortado e nenhuma barra de rolagem é exibida. */
        padding-bottom: 135px;
    }

    .ift-slider-list {
        width: auto;
        display: block;
        list-style: none;
    }

    .ift-slider-list .ift-portfolio-item {  
        display: block;
        height: auto;
        float: left;
        margin-top: 0;
    }

    .ift-portfolio-list .ift-portfolio-item { 
        margin-bottom: 100px;
    }

    .ift-slider-list .ift-portfolio-item-info {
        width: 100%;
        display: table; /* Assume a altura do conteúdo que está dentro dele. */
        margin-top: 15px;
        padding-right: 15px;
        padding-left: 15px;
        position: relative;
        opacity: 0;
        left: -35px;
    }

    .ift-portfolio-list {
        list-style: none; /* Faz com que os itens não tenham aparência de lista (com um marcador antes de cada item). */ 
    }

    .ift-slider-list .ift-portfolio-item-info p {
        text-align: center;
    }

    .ift-slider-list .ift-portfolio-item-info .ift-btn {
        margin: 0 auto;
    }

    .ift-slider-list .ift-portfolio-item-thumb {
        width: 100%;
        display: table;
        padding: 30px 0 19px 0;
        position: relative;
    }

    .ift-portfolio-list .ift-portfolio-item-thumb {
        width: 100%;
        display: table;
        padding: 0 0 19px 0;
        position: relative;
    }

    .ift-slider-list .ift-portfolio-item-thumb > .ift-btn { /* Apenas primeiro botão dentro da box. */
        margin: 17px auto 0 auto;
        float: none;
    }

    .ift-portfolio-list .ift-portfolio-item-thumb > .ift-btn { /* Apenas primeiro botão dentro da box. */
        margin-top: 17px;
        margin-right: 75px;
        float: right;
    }

    .ift-slider-list .ift-portfolio-item-box {
        width: 100%;
        height: 100%;
        display: block;
        background-color: #2c2c2c;
        position: absolute;
        top: 0;
        left: 0;
        transform: scaleX(0);
        transform-origin: right; /* Origem da animação da box por trás dos slides. */
    }

    .ift-portfolio-list .ift-portfolio-item-box {
        width: 100%;
        height: 100%;
        display: block;
        background-color: #2c2c2c;
        position: absolute;
        top: 0;
        left: 0;
    }

    .ift-portfolio-list .ift-portfolio-item-box {
        transform: scaleX(1);
    }

    .ift-slider-list .ift-portfolio-item-thumb img {
        width: 90%;
        max-width: 100%;
        height: auto;
        position: relative;
        left: 5%;
        transform: scale(0);
    }

    .ift-portfolio-list .ift-portfolio-item-thumb img {
        width: 100%;
        max-width: 100%;
        height: auto;
        position: relative;
        /* O transform scale impede a biblioteca AOS de funcionar. */
    }

    /* --------PORTFÓLIO--------*/

    .ift-section-offset-top:nth-child(odd) { 
        margin-top: 130px;
    }

    .ift-portfolio-list .ift-portfolio-item:nth-child(odd) .ift-portfolio-item-info {  /* Seleciona elementos com base em suas posições ou classificação (odd = ímpar) em um grupo de elementos irmãos. */
        width: 100%;
        text-align: center;  /* Aplicando a todos os elementos ímpares da lista. */
        margin-top: 20px;
    }

    .ift-portfolio-list .ift-portfolio-item:nth-child(odd) .ift-portfolio-item-info .ift-btn, .ift-portfolio-list .ift-portfolio-item:nth-child(even) .ift-portfolio-item-info .ift-btn {  
        float: none; /* Alinhou o botão de cada item da lista na página portfólio à direita. */
        margin: 0 auto;
    }

    .ift-portfolio-list .ift-portfolio-item:nth-child(even) .ift-portfolio-item-info {  
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    .ift-portfolio-list .ift-portfolio-item:nth-child(even) > .row { /* Seleciona apenas a primeira row. Se não informasse isso, aplicaria as propriedades desta classe para todas as rows. */
        flex-direction: row-reverse; /* Bootstrap grid usa flex display, usamos esta propriedade para passar uma direção (não usa-se float). */
        /* Apenas nos itens pares, será aplicado o flex-direction, invertendo a ordem dos itens. */
    }

    .ift-portfolio-list .ift-portfolio-item:nth-child(even) .ift-portfolio-item-thumb .ift-btn, .ift-portfolio-list .ift-portfolio-item:nth-child(odd) .ift-portfolio-item-thumb .ift-btn {  
        float: none;
        margin: 2% auto;
    }

    .ift-portfolio-list .ift-portfolio-item:nth-child(even) .ift-portfolio-item-thumb img {  
       display: block;
    }

    /* --------SOBRE--------*/

    .ift-about-height {
        height: calc(100% - 150px);
    }

    .ift-about-height .container-fluid, .ift-about-height .container-fluid > .row {
        height: 100%;
    }

    .ift-avatar-sobre {
        position: relative;
    }

    .ift-about-offset-top { 
        margin-top: 150px;
    }

    .ift-title-about, .ift-info-about, .ift-habilites-about {
        width: 100%;
        display: table;
        float: left;
        margin-bottom: 30px;
    }

    
    /* --------DETALHES--------*/

    .ift-hero {
        background-image: url('../pages/portfolio/img/hero.png');
        background-repeat: no-repeat;
        background-size: cover;  /* contain -> preenche todo o conteúdo da div pai. Cover -> cobre poda a área da box. */
        background-position: center center;  /* A imagem fica sempre centralizada quando diminui-se as proporções da página. */
        display: block;
    }

    .ift-hero h1 {
        margin-top: 15px;
        margin-bottom: 50px;
    }

    .ift-hero-inner {
        display: table;
        padding: 65px 0;
    }

    .ift-hero-inner-content {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.85);
        display: block;
        padding: 15px 25px 15px;
    }

    .ift-hero-inner-content p {
        margin-bottom: 15px;
    }

    .ift-project-stats {
        width: 93%;
        height: 100%;
        display: table;
        border-right: none;
    }

    .ift-project-description {
        width: 93%;
        height: 100%;
        display: table;
        margin-top: 30px;
    }

    .ift-post{
    width: 100%;
    display: table;
    }

    .ift-post p{
        margin-bottom: 30px;
    }

    .ift-post-section {
        width: 100%; /* cross-browser */
        display: table;
        padding: 45px 0;
    }

    .ift-pre-gallery {
        padding-bottom: 350px;
    }

    .ift-post-gallery {
        display: block;
    }

    .ift-post-gallery .container {
        position: relative;
        top: -270px;
    }

    .ift-thumb-box {
        width: auto; /* Largura do conteúdo que está dentro. */
        display: block;
        position: relative;
    }

    .ift-thumb-box::before {
        content: '';
        width: 100%;
        height: 100%;
        z-index: 700;
        background-color: rgba(251, 133, 0, 0.65);
        background-image: url('../pages/portfolio/img/icon-see-more.svg');
        background-repeat: no-repeat;
        background-position: center;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
    }

    .ift-thumb-box:hover::before {
        display: block;
        cursor: pointer;
    }

    .ift-gallery-frame-container {
        width: 60%;
        display: none; /* height -> auto */
        position: fixed;
        top: 130px;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 1100;
    }

    .ift-gallery-frame-inner {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
    }

    .ift-gallery-frame-inner .ift-skeleton-loading {
        width: 86%;
        height: 94%;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        position: absolute;
        top: 3%;
        left: 7%;
        z-index: 1250;
    }

    .ift-gallery-frame-inner .ift-skeleton-loading > div {
        width: 90%;
        background-color: #dedede;
        margin: 10% 0;
        border-radius: 8px;
        background-image: url('../pages/portfolio/img/skeleton-loading-blur.svg');
        background-repeat: no-repeat;
        background-position: -100% -150px;
        animation: skeletonBlur 2s infinite ease-out;
    }

    .ift-gallery-frame-inner .ift-skeleton-loading > div:first-child,  .ift-gallery-frame-inner .ift-skeleton-loading > div:last-child {
        height: 15%;
    }

    .ift-gallery-frame-inner .ift-skeleton-loading > div:nth-child(2) {
        height: 60%;
    }

    .ift-close-gallery {
        width: 45px;
        height: 45px;
        display: block;
        background-color: #000;
        border: none;
        border-radius: 50%;
        position: absolute;
        top: -43px;
        right: 230px;
        z-index: 1200;
        transition: all 0.2s ease-out;
    }

    .ift-close-gallery ion-icon {
        color: #FB8500;
       width: 30px; 
       height: 30px;
       line-height: 45px;
       margin-top: 1px;
       cursor: pointer;
    }

    .ift-close-gallery:hover {
        transform: scale(1.05);
    }

    .ift-close-gallery ion-icon:hover {
        color: #bcbcbc;
    }

    .ift-gallery-frame {
        width: 100%;
        height: auto;
        max-width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1300;
    }

    .ift-gallery-frame-image {
        width: 89%;
        max-width: 89%;
        margin: 9px 12px;
        z-index: 1200;
        border-radius: 30px;
    }
    
    .ift-gallery-frame-container .ift-items-next-prev {
        width: 200px;
        height: 45px;
        margin: 20px auto;
    }

    .ift-box-img {
        width: 90%;
        display: table;
        margin: 0 auto;
    }

    .ift-margin-left-20 {
        margin-left: 20px;
    }

    /*-------------- 404 --------------*/

    .ift-404 h1, .ift-404 p {
        text-align: center;
    }

    .ift-404 .ift-btn {
        margin: 15px auto;

    }

    /* Utilitárias 320px */

    .ift-title-x-large {
        font-size: 70px;
    }

    .ift-title-h2 {
        font-size: 36px;
        line-height: 36px;
        text-align: center;
        padding: 0 100px 0 100px;
    }

    .ift-tile-large-lh {
        font-size: 40px;
        line-height: 41px;
        text-align: center;
    }

    .ift-full-height { /* Elementos que precisem assumir a altura completa da view. */
        height: auto; /* vh é a view inteira. */  
        position: relative;
    }

    .ift-text-center-mob {
        text-align: center;
    }
}

@media screen and (min-width: 360px){
    .ift-gallery-frame-image {
        margin: 11px 12px;
    }
}

@media screen and (min-width: 576px){  /* Dimensões relacionadas às especificações do Bootstrap. */

    .ift-display-text {
        margin-top: 10%;
    }

    #ift-home-presentation {
        background-image: url('../../LAYOUT/igor-foto-photoshop-tiny.png');
        background-repeat: no-repeat;
        background-position-x: 55%;
        background-position-y: 72%;
        background-size: 400px;
        position: inherit; /* A div pai precisa ter uma posição relative para que '.ift-scroll-down' receba margin. */
    }

    .ift-hero-inner-content {
        padding: 30px 70px 30px 70px;
    }

    .ift-gallery-frame-container {
        width: 320px;
    }

    .ift-gallery-frame-image {
        width: 87%;
        max-width: 87%;
        margin: 17px 21px;
    }

    .ift-scroll-down {
        height: 135px
    }

    .ift-box-img {
        width: 60%;
    }
}

@media screen and (min-width: 768px){

    .ift-display-text {
        margin-top: 10%;
    }

    #ift-home-presentation {
        background-image: url('../../LAYOUT/igor-foto-photoshop-tiny.png');
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 70%;
        background-size: 50%;
        position: inherit; /* A div pai precisa ter uma posição relative para que '.ift-scroll-down' receba margin. */
    }

    .ift-slider-container {
        padding-bottom: 90px;
    }

    .ift-close-gallery {
        top: -15px;
        right: -45px;
    }

    /* Utilitárias 768px */

    .ift-tile-large-lh {
        font-size: 48px;
        line-height: 49px;
    }

    .ift-text-center-mob {
        text-align: left;
    }
}

@media screen and (min-width: 810px) and (max-width: 829px){
    #ift-home-presentation {
        background-position-y: 3%;
        background-size: 20%;
    }
}

@media screen and (min-width: 830px){

    #ift-home-presentation {
        background-position-x: 51%;
        background-position-y: 69%;
        background-size: 40%;
    }

    .ift-gallery-frame-container {
        top: 120px
    }
}

@media screen and (min-width: 992px){

    .ift-display-text {
        margin-top: 10%;
    }

    #ift-home-presentation {
        background-image: url('../../LAYOUT/igor-foto-photoshop-tiny.png');
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 70%;
        background-size: 30%;
        position: inherit; /* A div pai precisa ter uma posição relative para que '.ift-scroll-down' receba margin. */
    }

    .ift-form label {
        font-size: 16px;
        display: inline-block;
    }

    .ift-portfolio-navigator {
        width: 145px;
        height: 400px;
        left: 0;
        top: 30vh; /* Como a div pai usa view-height (vh), não funciona usar dimensões em % aqui (que está posicionada absolutamente). */
    }

    .ift-items-next-prev {
        justify-content: center;
    }

    .ift-home-presentation h1 {
        margin-top: 0;
        text-align: left;
    }

    .ift-home-presentation p {
        text-align: left;
    }

    .ift-home-presentation .ift-btn {
        margin-left: 0;
    }

    .ift-menu-mob, .ift-btn-menu-mob {
        display: none;
    }

    .ift-menu {
        display: table;
        float: left;
        height: 110px;
        margin-left: 30px;
        position: relative;
    }

    .ift-menu a {
        font-family: 'Poppins';  /* Fontes utilizadas: Poppins (Regular 400, Regular 400 italic, Bold 700, Bold 700 italic, Extra-bold 800, Extra-bold 800 italic e 
        PT Serif (Regular 400, Regular 400 italic, Bold 700, Bold 700 italic). */
        font-size: 16px;
        font-weight: 400;
        color: #bcbcbc;
        text-transform: lowercase;
        text-decoration: none;
        display: inline-block;  /* Opções do menu alinhadas lado a lado. */
        margin: 50px 20px 0 20px;
        position: relative;
    }

    .ift-menu a:first-child {   /* Acessando apenas o primeiro item do menu (home) para ajustar a sua margem. */
        margin-left: 0;
    }

    .ift-menu a:hover {
        color: #FB8500;
        position: relative;
    }

    .ift-menu a::before {  /* Permite controlar a largura do elemento com efeito de construção no hover. */
        content: '';  /* Precisa ser declarado para existir o pseudo-elemento 'before'. */
        width: 0;  /* Com relação ao elemento pai -> menu. Ou seja, na largura do menu. */
        height: 4px;
        background-color: #FB8500;
        display: block;
        position: absolute;
        bottom: -6px;
        left: 0;
        transition: all 0.2s ease-out;
    }

    .ift-menu a:hover:before {
        width: 100%;
    }

    .ift-slider-container {
        padding-bottom: 0;
    }

    .ift-slider-list .ift-portfolio-item {  
        display: block;
        height: 500px;
        float: left;
        margin-top: calc(30vh - 75px);
    }

    .ift-slider-list .ift-portfolio-item-thumb {
        padding: 30px 0 19px 0;
        margin-top: 39px;
    }

    .ift-slider-list .ift-portfolio-item-thumb img {
        width: 120%;
        max-width: 120%;
        left: -115px;
    }

    .ift-slider-list .ift-portfolio-item-thumb > .ift-btn {
        margin: 17px 6.5% 0 0;
        float: right;
    }

    .ift-navigator-counter span {
        font-size: 100px;
        line-height: 59px;
    }

    .ift-navigator-counter::before {
        top: -11px;
    }

    .ift-slider-list .ift-portfolio-item-info {
        margin-top: 60px;
    }

    .ift-slider-list .ift-portfolio-item-info p {
        text-align: left;
    }

    .ift-tile-large-lh {
        text-align: left;
    }

    .ift-slider-list .ift-portfolio-item-info {
        width: 100%;
        display: table; /* Assume a altura do conteúdo que está dentro dele. */
        margin-top: 64px;
        padding-right: 140px;
        padding-left: 15px;
        position: relative;
        opacity: 0;
        left: -35px;
    }

    .ift-slider-list .ift-portfolio-item-info .ift-btn {
        margin: 0;
    }

    .ift-portfolio-list .ift-portfolio-item-thumb {
        width: 100%;
        display: table;
        padding: 75px 0 19px 0;
        position: relative;
    }

    .ift-portfolio-list .ift-portfolio-item-box {
        width: 0;
        height: 0;
    }

    .ift-portfolio-list .ift-portfolio-item:nth-child(odd) .ift-portfolio-item-info {  /* Seleciona elementos com base em suas posições ou classificação (odd = ímpar) em um grupo de elementos irmãos. */
        text-align: right;  /* Aplicando a todos os elementos ímpares da lista. */
        margin-top: 66px;
    }

    .ift-portfolio-list .ift-portfolio-item:nth-child(odd) .ift-portfolio-item-info .ift-btn {  
        float: right; /* Alinhou o botão de cada item da lista na página portfólio à direita. */
    }

    .ift-portfolio-list .ift-portfolio-item:nth-child(even) .ift-portfolio-item-info .ift-btn {  
        float: left; /* Alinhou o botão de cada item da lista na página portfólio à esquerda. */
    }

    .ift-portfolio-list .ift-portfolio-item:nth-child(odd) .ift-portfolio-item-info h1, .ift-portfolio-list .ift-portfolio-item:nth-child(odd) .ift-portfolio-item-info p {  
        text-align: right; /* Alinhou o botão de cada item da lista na página portfólio à direita. */
    }

    .ift-portfolio-list .ift-portfolio-item:nth-child(even) .ift-portfolio-item-info h1, .ift-portfolio-list .ift-portfolio-item:nth-child(even) .ift-portfolio-item-info p {  
        text-align: left; /* Alinhou o botão de cada item da lista na página portfólio à esquerda. */
    }

    .ift-portfolio-list .ift-portfolio-item:nth-child(even) .ift-portfolio-item-info {  
        margin-top: 66px;
        text-align: left;
    }

    .ift-portfolio-list .ift-portfolio-item:nth-child(even) .ift-portfolio-item-thumb .ift-btn {  
        float: left;

        margin-left: 75px;
    }

    .ift-portfolio-list .ift-portfolio-item:nth-child(odd) .ift-portfolio-item-thumb .ift-btn {  
        float: right;
        margin-right: 75px;
    }

    .ift-portfolio-list .ift-portfolio-item:nth-child(even) .ift-portfolio-item-thumb img {  
       left: 75px;
    }

    .ift-portfolio-list .ift-portfolio-item:nth-child(odd) .ift-portfolio-item-thumb img {  
        left: -75px;
     }

     .ift-project-description {
        margin-top: 0;
    }

    .ift-project-stats {
        border-right: 1px solid #FB8500;
        padding: 0 10px 0 0;
    }

    .ift-title-about {
        width: 100%;
        margin-left: -4px;
    }

    .ift-info-about {
        width: 55%;
    }

    .ift-habilites-about {
        width: 45%;
    }

    .ift-skills-block {
        margin-left: 40px;
    }

    .ift-box-img {
        width: 100%;
        margin-top: 27px;
        margin-left: 10px;
    }

    .ift-gallery-frame-container {
        top: 40px
    }

    /* UTILITÁRIAS */

    .ift-full-height { /* Elementos que precisem assumir a altura completa da view. */
        height: 100vh; /* vh é a view inteira. */  
    }

    .ift-title-x-large {
        font-size: 90px;
    }

    .ift-margin-left-30 {
        margin-left: 30px;
    }

    /*-------------- 404 --------------*/

    .ift-404 h1, .ift-404 p {
        text-align: left;
    }

    .ift-margin-top-404 {
        margin-top: 128px;
    }

    .ift-404 .ift-btn {
        margin-left: 0;
        margin-top: 30px;
    }

}

@media screen and (min-width: 1020px) and (max-width: 1050px){

    .ift-portfolio-navigator {

        top: 23vh; /* Como a div pai usa view-height (vh), não funciona usar dimensões em % aqui (que está posicionada absolutamente). */
    }
}

@media screen and (min-width: 1200px){

    .ift-modal { 
        width: 800px;
    }


    .ift-field, .ift-textarea {
        margin-bottom: 15px;
    }


    .ift-display-text {
        margin-top: 10%;
    }

    .ift-slider-list .ift-portfolio-item-thumb {
        padding: 75px 0 19px 0;
        margin-top: 0;
    }

    .ift-slider-list .ift-portfolio-item-thumb img {
        width: 100%;
        max-width: 100%;
        left: -75px;
    }

    .ift-portfolio-list .ift-portfolio-item-box {
        width: 100%;
        height: 100%;
    }

    .ift-slider-list .ift-portfolio-item-thumb > .ift-btn {
        margin-right: 75px;
    }

    .ift-navigator-counter span {
        font-size: 120px;
        line-height: 90px;
    }

    .ift-navigator-counter::before {
        top: -1px;
    }

    #ift-home-presentation {
        background-image: url('../../LAYOUT/igor-foto-photoshop-tiny.png');
        background-repeat: no-repeat;
        background-position-x: 85%;
        background-position-y: 20%;
        background-size: 600px;
        position: inherit; /* A div pai precisa ter uma posição relative para que '.ift-scroll-down' receba margin. */
    }

    .ift-slider-list .ift-portfolio-item-info {
        margin-top: 64px;
    }

    .ift-gallery-frame-container {
        top: 120px
    }

    .ift-portfolio-navigator {

        top: 30vh; /* Como a div pai usa view-height (vh), não funciona usar dimensões em % aqui (que está posicionada absolutamente). */
    }

    /* Utilitárias 1200px */

    .ift-tile-large-lh {
        font-size: 64px;
        line-height: 65px;
    }
}

@media screen and (min-width: 1364px){  /* Contemplar resoluções de alguns notebooks com telas maiores que 15". */

    .ift-display-text {
        margin-top: 10%;
    }

    #ift-home-presentation {
        background-image: url('../../LAYOUT/igor-foto-photoshop-tiny.png');
        background-repeat: no-repeat;
        background-position-x: 85%;
        background-position-y: 20%;
        background-size: 650px;
        position: inherit; /* A div pai precisa ter uma posição relative para que '.ift-scroll-down' receba margin. */
    }

    .ift-slider-list .ift-portfolio-item-info {
        padding-right: 0;
    }

    .ift-title-x-large {
        font-size: 120px;
    }

    .ift-box-img {
        margin-top: 35px;
    }
    
}


@media screen and (min-width: 1500px){

    .ift-display-text {
        margin-top: 10%;
    }

    #ift-home-presentation {
        background-image: url('../../LAYOUT/igor-foto-photoshop-tiny.png');
        background-repeat: no-repeat;
        background-position-x: 85%;
        background-position-y: 20%;
        background-size: 700px;
        position: inherit; /* A div pai precisa ter uma posição relative para que '.ift-scroll-down' receba margin. */
    }

}

@media screen and (min-width: 1670px){

    .ift-margin-center-big {
        margin-left: 200px;
        margin-right: 200px;
    }

    #ift-home-presentation {
        background-size: 800px;
    }

}

/* BOTÕES */

.ift-btn {
    display: table; /* Display block: se não passar largura, ocupa a largura total do seu container. */
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    /* margin: 0 auto; Centraliza quando utilizado display: block. */
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-out;
    position: relative;
    text-decoration: none;
}

.ift-btn ion-icon {
    font-size: 21px;
    display: inline-block;
    vertical-align: -10%;
    margin-left: 5px;
}

.ift-btn-block {
    display: block;
    width: 100%;
}

.ift-btn-small {
    height: 28px;
    line-height: 28px;
    padding: 0 20px;
    border-radius: 14px; 
    font-size: 11px;
}

.ift-btn-medium {
    height: 38px;
    line-height: 38px;
    padding: 0 24px;
    border-radius: 19px; 
    font-size: 14px;
}

.ift-btn-large {
    height: 45px;
    line-height: 45px;
    padding: 0 35px;
    border-radius: 23px; 
    font-size: 16px;
}

.ift-btn-orange {
    background-color: #FB8500;
    color: #1C1C1C;
}

.ift-btn-orange:hover {
    background-color: #f87000;
    color: #fff;
    transform: scale(1.05);
}

.ift-btn-dark {
    background-color: #151515;
    color: #FB8500;
}

.ift-btn-dark:hover {
    background-color: #FB8500;
    color: #2f2f2f;
}

.ift-btn-orange-no-scale {
    background-color: #FB8500;
    color: #1C1C1C;
}

.ift-btn-orange-no-scale:hover {
    background-color: #f87000;
    color: #fff;
}

/* CLASSES UTILITÁRIAS */

.ift-title {
    font-family: 'PT Serif', serif;
    font-weight: 400;
}

.ift-subtitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}


.ift-title-medium {
    font-size: 48px;
}

.ift-title-large {
    font-size: 64px;
}

.ift-text-orange {
    color: #FB8500;
}

.ift-text-dark {
    color: #4D4C4C;
}

.ift-text-light {
    color: #bcbcbc;
}

.ift-text-black {
    color: #000;
}

.ift-text-center {
    text-align: center;
}

.ift-background-orange {
    background-color: #FB8500;
}

.ift-background-dark {
    background-color: #4D4C4C;
}

.ift-background-light {
    background-color: #bcbcbc;
}

.ift-background-black {
    background-color: #000;
}

.ift-margin-15 {
    margin: 15px;
}

.ift-margin-top-15 {
    margin-top: 15px;
}

.ift-margin-right-15 {
    margin-right: 15px;
}

.ift-margin-bottom-15 {
    margin-bottom: 15px;
}

.ift-margin-left-15 {
    margin-left: 15px;
}

.ift-padding-15 {
    padding: 15px;
}

.ift-padding-top-15 {
    padding-top: 15px;
}

.ift-padding-right-15 {
    padding-right: 15px;
}

.ift-padding-bottom-15 {
    padding-bottom: 15px;
}

.ift-padding-left-15 {
    padding-left: 15px;
}

.ift-margin-30 {
    margin: 30px;
}

.ift-margin-top-30 {
    margin-top: 30px;
}

.ift-margin-right-30 {
    margin-right: 30px;
}

.ift-margin-bottom-30 {
    margin-bottom: 30px;
}

.ift-margin-left-30 {
    margin-left: 30px;
}

.ift-padding-30 {
    padding: 30px;
}

.ift-padding-top-30 {
    padding-top: 30px;
}

.ift-padding-right-30 {
    padding-right: 30px;
}

.ift-padding-bottom-30 {
    padding-bottom: 30px;
}

.ift-padding-left-30 {
    padding-left: 30px;
}

.ift-first-section {
    height: calc(100vh - 30px);  /* Queremos retirar 30px do height da primeira section. */
}

.ift-no-padding {
    padding: 0 !important;
}

.ift-img-responsive {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block; /* Se comporte como um bloco. */
}

.ift-page-list {
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

.ift-page-list > li {
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 15px;
    padding-left: 20px;
    position: relative;
}

.ift-page-list > li::before {
    content: '';
    width: 8px;
    height: 8px;
    display: block;
    border-radius: 50px;  /* Faz o quadrado virar um círculo. */
    position: absolute;
    top: 9px;
    left: 0;
    background-color: #FB8500;
}

.ift-z-index {
    position: relative; /* Para o z-index funcionar precisa de uma position. */
    z-index: 900;

}
/* CLASSES COMPORTAMENTO */

.ift-slide-top-in {
    animation: slideTopIn 0.7s forwards ease-in;
}

.ift-is-open {
    display: block;
}

.ift-change-icon {
    background-position-y: -45px;
}

.ift-fade-out {
    animation: fadeOut 1s forwards ease-out;
    /* Animação fadeOut criada no início do arquivo como uma keyframe. */
}

.ift-fade-from-left {
    animation: fadeFromLeft 2s 0.6s forwards cubic-bezier(0,1.01,0.32,1);
}

.ift-scale-right {
    animation: scaleRight 0.7s 0.2s forwards cubic-bezier(0,1.01,0.32,1);
}

.ift-scale-up {
    animation: scaleUp 0.5s 0.3s forwards cubic-bezier(0,1.01,0.32,1);
}

.ift-no-radius-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.ift-no-radius-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

.green {
    background-color: green;
}

/* PLUGINS OVERWRITE*/

[data-aos=flip-left] {
    transform: perspective(2500px) rotateY(-90deg);
}