*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /*Com o body tendo 100vh, as divs internas poderão se alinhar verticalmente no centro da página.*/
    background-color: #c7cdd3;
}

@media screen and (min-width: 250px){

.gameName{
    position: absolute;
    top: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.card{
    width: 40px;
    height: 40px;
    position: relative;
    transform-style: preserve-3d; /*Informando que as cartas são elementos 3d para que o backface-visibility funcione.*/
    -webkit-transform-style: preserve-3d;
    transition: transform .5s; /*Anima o transform y quando flipar a carta.*/
}

    .icon{
    width: 40px;
    }

.card-back, .card-front{
    width: 100%;
    height: 100%;
    position: absolute; /* Para que funcione, o pai deve ter a posição relative. O intuito é que o front e o back ocupem a mesma posição.*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
    backface-visibility: hidden; /* Todas as faces que tiverem invertidas (transform y 180deg) não serão mostradas para o usuário. Essa propriedade não possui nenhum efeito em transformações 2D.*/
    -webkit-backface-visibility: hidden;
}

.flip{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.card-front{
    transform: rotateY(180deg); /* Rotaciona no eixo y 180 graus.*/
    background-color: #101C2C;
    /* Passando em apenas uma das faces o transform: rotateY, faz com que as faces sempre estejam posicionadas invertidas. */
}

.card-back{
    color: #101C2C;
    background-color: #05C3FF;
    font-size: 30px;
    font-weight: 700;
}

#gameOver{
    position: absolute; /*Para pegar a tela toda e ficar por cima dos demais elementos.*/
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    display: none; /*Mudará para display flex com gameOver.*/
    flex-direction: column; /*Botão vai para baixo do texto (antes na row, ficava ao lado).*/
    justify-content: center;
    align-items: center;
    top: 0; /*Funciona porquê a posição é absolute, então estamos forçando a iniciar com top 0 para que a div card mão empurre esta div para baixo.*/
}

#restart{
    padding: 20px;
    font-size: 20px;
    background-color: rgb(226, 196, 22);
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    transition: all 0.3s ease-out;
}

#restart:hover{
    transform: scale(1.07);
    background-color: rgb(28, 189, 28);
    color: white;
}

#gameBoard{
    max-width: 700px;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr; /*linhas / colunas*/
    gap: 20px;
    margin-bottom: 30px;
}

.credits{
    position: absolute;
    bottom: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.gameInfo{
    position: absolute;
    bottom: 0;
    text-align: center;
    left: 0;
    right: 0;
    margin-bottom: 25px; 
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding-bottom: 10px;
}

.attempts{
    text-align: center;
    margin-left: 50px;
}

.sameLine{
    display: inline-block;
}
}

@media screen and (min-width: 350px){
    #gameBoard{
    grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    }

    .card{
        width: 60px;
        height: 60px;
        }


    .icon{
        width: 50px;
    }

    .gameName{
        font-size: 40px;
    }
}

@media screen and (min-width: 410px){
    .card{
        width: 80px;
        height: 80px;
    }
}
    
@media screen and (min-width: 550px){
    .card{
        width: 100px;
        height: 100px;
        }

    .icon{
        width: 70px;
    }

    .gameName{
        font-size: 50px;
    }
    
}

@media screen and (min-width: 650px){
    .card{
        width: 130px;
        height: 130px;
    }
    .icon{
        width: initial;
    }
}